	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					О салоне
				</span>
				<button class="btn__clr" disabled></button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper page__wrapper--lg">
				<section class="section section--wide">	
					<div class="blog">
						<img src="images/icons/svg/musha_logo.svg" alt="" style="width: 120px;">	
						<center>
							<h3>
								Остров красоты Муша
							</h3>							
						</center>
						<p>
							Где-то на Багамах есть необычайной красоты островок Муша Кей, расположенный в чарующей синеве океана. Плантации девственных джунглей, пустынные пляжи с шелковистым песком жемчужного цвета, сверкающим подобно крупинкам сахара, и обслуживание на высочайшем уровне. А как иначе, если численность персонала больше гостей в 5 раз!
						</p>
						<div class="content__pic">
							<img src="images/blog_pic1.jpg" alt="">								
						</div>
						<p>
							Здесь Вы насладитесь ласкающими лучами турбо-солярия новейшей модели. Наслаждаясь теплом, дарящим Вам бронзовый натуральный загар, Вы сможете воспользоваться Аква-бризом, который окутает Ваше тело освежающей морской прохладой. Наши мастера массажа помогут расслабить каждую напряженную мышцу Вашего тела, погрузив Вас в состояние блаженства. Выбрав на свой вкус экзотические масла и крема, Вы насладитесь их ароматом и питательными свойствами. 
						</p>						
						<p>
							Предложенный нами комплекс омолаживающих косметологических процедур с использованием современного оборудования позволит Вам легко избавиться от следов усталости кожи лица, ускорив ее регенерацию, тонизируя питательными веществами, с помощью которых Вы всегда сможете оставаться моложе.  
						</p>
						<p>
							Мастера ногтевой студии предложат Вашим ручкам и ножкам отдохнуть в руках профессионалов. Помимо классических процедур, по Вашему желанию они нанесут уникальные ногтевые рисунки ручной работы, что безусловно преобразит Вас. Аппаратное удаление усталости пяточек вернет их в бархатистое детство. 
						</p>
						<p>
							Обновление будет неполным без модной прически и укладки . Наши мастера, постоянно совершенствующие свои профессиональные навыки, участвующие в престижных показах, предложат Вам самые последние тренды сезона.  Коррекция бровей и наращивание ресниц
						</p>
					</div>				
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>