	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					Обратный звонок
				</span>
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--close">
						<use xlink:href="images/icons/svg/sprite.svg#close"></use>
					</svg>
				</button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper">
				<section class="section section--wide section--backcall">
					<div class="section__wrapper">
						<div class="section__pan">
							<h3 class="section__title">
								Презвонить вам?
							</h3>
							<div class="section__desc">
								<p>
									Наш администратор перезвонит Вам в течении 5 минут
								</p>																	
							</div>
						</div>
						<div class="section__pan">
							<form action="#" class="form">
								<p class="form__label">
									Мы перзвоним Вам по номеру:
								</p>
								<div class="input__wrapper">
									<svg class="icon input__icon icon--phone">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons/svg/sprite.svg#phone"></use>
									</svg>						
									<input type="text" class="input input--with-icon" placeholder="Номер телефона" value="+7 910 428-39-91">					
								</div>												
								<button class="btn btn__pink btn__wide">
									Да
								</button>
								<button class="btn btn__transparent btn__wide">
									Отмена
								</button>
							</form>					
						</div>
					</div>
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>	