	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					Beauty клуб Муша
				</span>
				<button class="btn__clr" disabled></button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper page__wrapper--md">
				<section class="section section--wide">	
					<div class="blog">
						<center>
							<h3>
								Клубные карты
							</h3>						
						</center>
						<div class="offer">
							<div class="img__wrapper">
								<img src="images/card_start.png" alt="">
								<div class="offer__discount">
									-10%
								</div>													
							</div>
						</div>
						<h4>
							«Beauty <b>Start</b>»
						</h4>
						<p>
							Клиент, воспользовавшийся услугами салона не менее 10 раз со средним чеком не менее 500 р., автоматически получает клубную карту «Beauty Gold» со скидкой 10%
						</p>
						<span style="font-size: 24px;">
							<strike>5 000 р.</strike>&nbsp;&nbsp; &nbsp;&nbsp;<b>5 000 р.</b>
						</span>
						<p class="blog__incut">
							<sub>
								* Действие данной карты бессрочно при условии посещения Острова красоты Муша не менее 5 раз в год со средним чеком от 500 р.
							</sub>
						</p>
						<div class="offer">
							<div class="img__wrapper">
								<img src="images/card_gold.png" alt="">
								<div class="offer__discount">
									-10%
								</div>													
							</div>
						</div>
						<h4>
							«Beauty <b>Gold</b>»
						</h4>
						<p>
							Клиент, воспользовавшийся услугами салона не менее 10 раз со средним чеком не менее 500 р., автоматически получает Клубную карту Муша со скидной 10%.
						</p>
						<span style="font-size: 24px;">
							<strike>10 000 р.</strike>&nbsp;&nbsp; &nbsp;&nbsp;<b>9 000 р.</b>
						</span>
						<p class="blog__incut">
							<sub>
								* Действие данной карты бессрочно при условии посещения Острова красоты Муша не менее 10 раз в год со средним чеком 500 р.
							</sub>
						</p>
						<div class="offer">
							<div class="img__wrapper">
								<img src="images/card_platinum.png" alt="">
								<div class="offer__discount">
									-10%
								</div>													
							</div>
						</div>
						<h4>
							«Beauty <b>Platinum</b>»
						</h4>
						<p>
							Клиент, воспользовавшийся услугами салона не менее 15 раз со средним чеком не менее 500 р., автоматически получает Клубную карту Муша со скидной 15%.
						</p>
						<span style="font-size: 24px;">
							<strike>15 000 р.</strike>&nbsp;&nbsp; &nbsp;&nbsp;<b>13 500 р.</b>
						</span>
						<p class="blog__incut">
							<sub>
								* Действие данной карты бессрочно при условии посещения Острова красоты Муша не менее 15 раз в год со средним чеком 500 р.
							</sub>
						</p>																		
					</div>				
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>