	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					Услуги
				</span>
				<button class="btn__clr" disabled>
					<span>&nbsp;</span>
				</button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper page__wrapper--md">
				<section class="section section--catalog">
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog1.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Маникюр и педикюр
							</span>
						</div>						
					</a>	
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog2.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Массаж и уход за телом
							</span>
						</div>						
					</a>
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog3.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Визаж, брови и ресницы
							</span>
						</div>						
					</a>	
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog4.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Косметология и омолаживающие процедуры
							</span>
						</div>						
					</a>		
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog5.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Шугаринг и депиляция воском
							</span>
						</div>						
					</a>	
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog6.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Студия загара (турбо-солярий)
							</span>
						</div>						
					</a>	
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog7.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Стрижка и укладка
							</span>
						</div>						
					</a>	
					<a href class="link" ng-click="go('/catalog2')">
						<div class="catalog__item">
							<div class="item__pic">
								<img src="images/catalog8.jpg" alt="" data-bg="true">
							</div>
							<span class="item__title">
								Рисунок по телу
							</span>
						</div>						
					</a>
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">		
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>