	<main class="main page__main main--enter" ng-click="go('/front')">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper">
				<section class="section section--wide section--enter section--light">
					<div class="section__wrapper">
						<div class="section__pan">
						<svg class="icon">
							<use xlink:href="images/icons/svg/sprite.svg#logo"></use>
						</svg>							
						</div>
						<div class="section__pan">
							<p>
								Остров красоты Муша — это уникальный проект, где Вы почувствуете себя Vip-персоной, попавшей фантастический уголок, полный роскоши и открытий.
							</p>							
						</div>				
					</div>
				</section>
			</div>
		</div>
	</main>