	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="go('/menu')">
					<svg class="icon icon--menu">
						<use xlink:href="images/icons/svg/sprite.svg#menu"></use>
					</svg>
				</button>
				<button class="btn__clr" ng-click="go('/front')">
					<svg class="icon icon--logo">
						<use xlink:href="images/icons/svg/sprite.svg#logo"></use>
					</svg>
				</button>
				<button class="btn__clr" ng-click="go('/login')">
					<svg class="icon icon--user">
						<use xlink:href="images/icons/svg/sprite.svg#user"></use>
					</svg>
				</button>
			</div>
		</div>
	</header>
	<main class="main page__main main--index">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper">
				<section class="section">
					<div class="swiper-container slider--offers">
						<div class="swiper-wrapper">
							<div class="swiper-slide slider__slide">
								<div class="offer">
									<div class="offer__discount">
										-10%
									</div>
									<div class="offer__pic">
										<img src="images/slide1.jpg" alt="" data-bg="true">								
									</div>
									<div class="offer__desc">
										<h3 class="offer__title">
											Шугаринг
										</h3>
										<div class="offer__excerpt">
											<p>
												10% скидка на депиляцию сахаром — шугаринг глубокой зоны бикини
											</p>											
										</div>
										<a href class="link" ng-click="go('/booking')">
											<button class="btn btn__pink">
												Записаться
											</button>										
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide slider__slide">
								<div class="offer">
									<div class="offer__discount">
										-15%
									</div>
									<div class="offer__pic">
										<img src="images/slide2.jpg" alt="" data-bg="true">								
									</div>
									<div class="offer__desc">
										<h3 class="offer__title">
											Бронзовое настроение
										</h3>
										<div class="offer__excerpt">
											<p>
												10 сеансов турбо-солярия
											</p>											
										</div>
										<a href class="link" ng-click="go('/booking')">
											<button class="btn btn__pink">
												Записаться
											</button>										
										</a>
									</div>
								</div>
							</div>
							<div class="swiper-slide slider__slide">
								<div class="offer">
									<div class="offer__pic">
										<img src="images/slide3.jpg" alt="" data-bg="true">								
									</div>
									<div class="offer__desc">
										<h3 class="offer__title">
											Клубная карта «Beauty Start»
										</h3>
										<div class="offer__excerpt">
											<p>
												Спешите вступить в Beauty Клуб Муша!!! 
											</p>											
										</div>	
										<a href class="link" ng-click="go('/booking')">
											<button class="btn btn__pink">
												Получить карту
											</button>										
										</a>
									</div>
								</div>
							</div>														
						</div>
						<div class="swiper-pagination slider__pagination"></div>
					</div>		
				</section>
				<section class="section section--reviews">
					<h5 class="section__title">
						Отзывы
					</h5>
					<a href class="link" ng-click="go('/review_open')">
						<div class="review">
							<header class="review__header">
								<div class="user">
									<div class="user__avatar">
										<img src="images/avatar.jpg" alt="">
									</div>
									<div class="user__details">
										<span class="user__name">
											Lorik27
										</span>
										<div class="review__details">
											<div class="review__raiting">
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
											</div>
											<div class="review__date">
												12 июня
											</div>
										</div>
									</div>
								</div>
								<div class="review__menu">
									<button class="btn__clr">
										<svg class="icon icon--extra">
											<use xlink:href="images/icons/svg/sprite.svg#extra"></use>
										</svg>																											
									</button>
								</div>
							</header>
							<main class="review__main">
								<p>
									Спасибо большое мастеру Наталии. Очень понравилась работа (наращивание ногтей)! Приемлемые цены, отличное отношение к клиентам. Качественно и добросовестно.
								</p>							
							</main>
							<footer class="review__footer">
								<span class="review__count">
									4 комментария
								</span>
							</footer>
						</div>
					</a>
					<a href class="link" ng-click="go('/review_open')">
						<div class="review">
							<header class="review__header">
								<div class="user">
									<div class="user__avatar">
										<img src="images/avatar.jpg" alt="">
									</div>
									<div class="user__details">
										<span class="user__name">
											Lorik27
										</span>
										<div class="review__details">
											<div class="review__raiting">
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
											</div>
											<div class="review__date">
												12 июня
											</div>
										</div>
									</div>
								</div>
								<div class="review__menu">
									<button class="btn__clr">
										<svg class="icon icon--extra">
											<use xlink:href="images/icons/svg/sprite.svg#extra"></use>
										</svg>																											
									</button>
								</div>
							</header>
							<main class="review__main">
								<p>
									Спасибо большое мастеру Наталии. Очень понравилась работа (наращивание ногтей)! Приемлемые цены, отличное отношение к клиентам. Качественно и добросовестно.
								</p>							
							</main>
							<footer class="review__footer">
								<span class="review__count">
									4 комментария
								</span>
							</footer>
						</div>
					</a>
					<a href class="link" ng-click="go('/review_open')">
						<div class="review">
							<header class="review__header">
								<div class="user">
									<div class="user__avatar">
										<img src="images/avatar.jpg" alt="">
									</div>
									<div class="user__details">
										<span class="user__name">
											Lorik27
										</span>
										<div class="review__details">
											<div class="review__raiting">
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--active icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
												<svg class="icon icon--star">
													<use xlink:href="images/icons/svg/sprite.svg#star"></use>
												</svg>											
											</div>
											<div class="review__date">
												12 июня
											</div>
										</div>
									</div>
								</div>
								<div class="review__menu">
									<button class="btn__clr">
										<svg class="icon icon--extra">
											<use xlink:href="images/icons/svg/sprite.svg#extra"></use>
										</svg>																											
									</button>
								</div>
							</header>
							<main class="review__main">
								<p>
									Спасибо большое мастеру Наталии. Очень понравилась работа (наращивание ногтей)! Приемлемые цены, отличное отношение к клиентам. Качественно и добросовестно.
								</p>							
							</main>
							<footer class="review__footer">
								<span class="review__count">
									4 комментария
								</span>
							</footer>
						</div>										
					</a>	
				</section>
				<button class="btn btn__black btn__wide">
					Beauty клуб&nbsp;<b>Муша</b>
				</button>
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>	