	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn__clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					Изменить профиль
				</span>
				<button class="btn__clr" disabled></button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper page__wrapper--md">
				<section class="section section--wide">	
					<div class="profile profile--edit">
						<div class="user">
							<div class="bar">
								<div class="avatar__wrapper">
									<div class="user__avatar">
										<img src="images/avatar3.jpg" alt="" data-bg="true">
									</div>
									<button class="btn__clr action__btn">
										<svg class="icon icon--active icon--add">
											<use xlink:href="images/icons/svg/sprite.svg#add"></use>
										</svg>
									</button>																			
								</div>
								<div class="action__label">
									Изменить фото профиля
								</div>
							</div>
							<div class="user__details">
								<div class="input__wrapper">				
									<input type="text" class="input input--with-label" id="name" placeholder="Добавить" value="Марина Ольгина">
									<label for="name" class="input__label">Имя</label>			
								</div>
								<div class="input__wrapper">				
									<input type="text" class="input input--with-label" id="phone" placeholder="Добавить" value="+7 (926) 450-30-30">
									<label for="phone" class="input__label">Телефон</label>			
								</div>	
								<div class="input__wrapper">				
									<input type="text" class="input input--with-label" id="email" placeholder="Добавить">
									<label for="email" class="input__label">Email</label>			
								</div>																												
							</div>
						</div>					
					</div>
					<div class="options__group">
						<div class="group__title">
							Настройки									
						</div>
						<div class="group__items">
							<div class="options__item options__item--checked">
								<label for="opt1" class="input__label">
									Получать новости
								</label>
								<div class="service__check">
									<label for="opt1" class="input__checkbox--label">
										<svg class="icon icon--check">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons/svg/sprite.svg#check"></use>
										</svg>																			
									</label>
								</div>											
							</div>
							<div class="options__item">
								<label for="opt1" class="input__label">
									Получать новости
								</label>
								<div class="service__check">
									<label for="opt1" class="input__checkbox--label">
										<svg class="icon icon--check">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons/svg/sprite.svg#check"></use>
										</svg>																			
									</label>
								</div>											
							</div>
							<div class="options__item">
								<label for="opt1" class="input__label">
									Получать новости
								</label>
								<div class="service__check">
									<label for="opt1" class="input__checkbox--label">
										<svg class="icon icon--check">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="images/icons/svg/sprite.svg#check"></use>
										</svg>																			
									</label>
								</div>											
							</div>																		
						</div>
					</div>
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">
			<button class="btn btn__pink btn__wide">
				Сохранить изменения
			</button>			
			<ng-include src="'partials/footer__bar.html'"></ng-include>
		</div>
	</footer>