	<header class="header page__header">
		<div class="page__wrapper">
			<div class="bar header__bar">
				<button class="btn--clr" ng-click="back()">
					<svg class="icon icon--active icon--chevron-left">
						<use xlink:href="images/icons/svg/sprite.svg#chevron-left"></use>
					</svg>
				</button>
				<span class="page__title">
					Мой отзыв
				</span>
				<button class="btn--clr">
					<svg class="icon icon--send">
						<use xlink:href="images/icons/svg/sprite.svg#send"></use>
					</svg>
				</button>
			</div>
		</div>
	</header>
	<main class="main page__main">
		<div class="main__wrapper scroll--hidden">
			<div class="page__wrapper">
				<section class="section section--wide section--review-add">
					<div class="review review--add">
						<header class="review__header">
							<div class="review__details">
								<div class="review__raiting">
									<button class="btn--clr">
										<svg class="icon icon--active icon--star">
											<use xlink:href="images/icons/svg/sprite.svg#star"></use>
										</svg>												
									</button>
									<button class="btn--clr">
										<svg class="icon icon--active icon--star">
											<use xlink:href="images/icons/svg/sprite.svg#star"></use>
										</svg>												
									</button>									
									<button class="btn--clr">
										<svg class="icon icon--star">
											<use xlink:href="images/icons/svg/sprite.svg#star"></use>
										</svg>											
									</button>									
									<button class="btn--clr">
										<svg class="icon icon--star">
											<use xlink:href="images/icons/svg/sprite.svg#star"></use>
										</svg>											
									</button>										
									<button class="btn--clr">
										<svg class="icon icon--star">
											<use xlink:href="images/icons/svg/sprite.svg#star"></use>
										</svg>																					
									</button>										
								</div>
								<span class="review__subtitle">
									Оцените										
								</span>
							</div>
						</header>
						<main class="review__main">					
							<textarea class="input input--textarea" placeholder="Что бы вы посоветовали? &#10;Что вам понравилось?"></textarea>
						</main>
					</div>													
				</section>			
			</div>
		</div>
	</main>
	<footer class="footer page__footer">
		<div class="page__wrapper">		
			<div class="bar footer__bar">		
				<button class="btn--clr">
					<svg class="icon icon--photo">
						<use xlink:href="images/icons/svg/sprite.svg#photo"></use>
					</svg>				
				</button>			
			</div>
		</div>
	</footer>