.review{
	border-radius: @box-rad*1px;
	background-color: @white;
	padding-top: 1px*@review-gap-t;
	padding-bottom: 1px*@review-gap-t;
	padding-left: 1px*@review-gap-l;
	padding-right: 1px*@review-gap-l;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 14px;
	box-shadow: 0px 1px 0px fade( @black, 15% );
	.content__pic,
	.content__slider{
		margin-left: -1px*@review-gap-l;
		margin-right: -1px*@review-gap-l;		
	}
}

@import '__header/review__header.less';
@import '__main/review__main.less';
@import '__footer/review__footer.less';
@import '__details/review__details.less';
@import '__raiting/review__raiting.less';
@import '__date/review__date.less';
@import '__menu/review__menu.less';
@import '__count/review__count.less';
@import '__subtitle/review__subtitle.less';
@import '__status/review__status.less';

@import '--open/review--open.less';
@import '--transparent/review--transparent.less';
@import '--add/review--add.less';
