
/* TYPOGRAPHY */

.add_font( @f_name, @f_type, @f_style, @f_weight ){
	@font-face {
		font-family: '@{f_name}';
		src:url('../fonts/@{f_name}/@{f_name}@{f_type}.woff'),
			url('../fonts/@{f_name}/@{f_name}@{f_type}.woff2');
		font-weight: @f_weight;
		font-style: '@{f_style}';
	}	
}

.add_font( 'OpenSans', 'Regular', 'normal', 400 );
.add_font( 'OpenSans', 'SemiBold', 'normal', 600 );
.add_font( 'OpenSans', 'Bold', 'normal', 700 );
.add_font( 'PlayfairDisplay', 'Italic', 'italic', 400 );
.add_font( 'PlayfairDisplay', 'BoldItalic', 'italic', 700 );
.add_font( 'Roboto', 'Regular', 'normal', 400 );



@icons_path: '../images/icons/';
@encode_image: true;

.insert_icon(@filename)	when ( @encode_image = true ){
	background: data-uri('image/svg+xml;charset=UTF-8', '@{icons_path}@{filename}' ) center center no-repeat;
}

.insert_icon(@filename)	when ( @encode_image = false ){
	background: url('@{icons_path}@{filename}') center center no-repeat;
}


/* VENDORS */
@import 'vendor/normalize.less';
@import 'vendor/swiper.less';
@import 'vendor/pickadate.less';



/* BLOCKS */
@import 'blocks/page/page.less';
@import 'blocks/header/header.less';
@import 'blocks/main/main.less';
@import 'blocks/footer/footer.less';
@import 'blocks/icon/icon.less';
@import 'blocks/section/section.less';
@import 'blocks/aside/aside.less';
@import 'blocks/link/link.less';
@import 'blocks/bar/bar.less';
@import 'blocks/btn/btn.less';
@import 'blocks/review/review.less';
@import 'blocks/user/user.less';
@import 'blocks/slider/slider.less';
@import 'blocks/service/service.less';
@import 'blocks/input/input.less';
@import 'blocks/tabs/tabs.less';
@import 'blocks/catalog/catalog.less';
@import 'blocks/item/item.less';
@import 'blocks/group/group.less';
@import 'blocks/offer/offer.less';
@import 'blocks/menu/menu.less';
@import 'blocks/scroll/scroll.less';
@import 'blocks/form/form.less';
@import 'blocks/calendar/calendar.less';
@import 'blocks/tab/tab.less';
@import 'blocks/error/error.less';
@import 'blocks/booking/booking.less';
@import 'blocks/status/status.less';
@import 'blocks/attach/attach.less';
@import 'blocks/avatar/avatar.less';
@import 'blocks/profile/profile.less';
@import 'blocks/action/action.less';
@import 'blocks/options/options.less';
@import 'blocks/popup/popup.less';
@import 'blocks/blog/blog.less';
@import 'blocks/img/img.less';
@import 'blocks/holder/holder.less';
@import 'blocks/map/map.less';
@import 'blocks/sticky/sticky.less';
@import 'blocks/content/content.less';




/* COLORS */
@black: #000000;
@white: #ffffff;
@red: #ff0000;

@pink_fae: #faead8;
@pink_fef: #fef2ed;
@pink_fdd: #fdd9cc;

@gray_e5e: #e5e5e5;
@gray_101: #101010;
@gray_a6a: #a6a6a6;


/* VARIABLES */
@semibold: 600;
@body-gap: 12;
@body-gap-md: 16;
@body-gap-lg: 25;
@box-rad: 3;
@btn-rad: 4;
@review-gap-l: 16;
@review-gap-t: 8;
@catalog-item-w: 164;
@datepicker-time-w: 84;


*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

@supports( object-fit: contain ){
	img{
		object-fit: contain;
	}
}

h1{
	font-size: 32px;	
}
h2{
	font-size: 28px;	
}
h3{
	font-size: 24px;	
}
h4{
	font-size: 20px;	
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}



html {
	position: fixed;
	height: 100%;
	overflow: hidden;
}

body {
	width: 100vw;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	margin: 0px;
}

ya-map{
	display: block;
	width: 100%;
	height: 100%;
	min-height: 200px;
}

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background: inherit;
	transition:  .25s ease-in-out;
}


.slide-left.ng-enter {
	z-index: 101;
	transform: translateX(100%);
}

.slide-left.ng-enter.ng-enter-active {
	transform: translateX(0);
}

.slide-left.ng-leave {
	z-index: 100;
	transform: translateX(0);
}

.slide-left.ng-leave.ng-leave-active {
	transform: translateX(-100%);
}

.slide-right.ng-enter {
	z-index: 100;
	transform: translateX(-100%);
}

.slide-right.ng-enter.ng-enter-active {
	transform: translateX(0);
}

.slide-right.ng-leave {
	z-index: 101;
	transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
	transform: translateX(100%);
}

.loading { 
    background-image: url(../images/loading.gif); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 25px; 
    min-height: 50px;
}

.loading > * { 
    opacity: 0.2; 
}

.ios { 
    padding-top: 20px;  
}