.icon{
	width: 18px;
	height: 18px;
	display: inline-block;
	fill: currentColor;
	color: currentColor;	
}

.btn__clr{
	.icon{
		display: block;
	}	
}


@import '__wrapper/icon__wrapper.less';

@import '--active/icon--active.less';


/* ICONS */

.icon--menu{
	width: 24px;
	height: 18px;
}

.icon--logo{
	width: 36px;
	height: 35px;
}

.icon--extra{
	width: 23px;
	height: 5px;
	fill: fade( @gray_101, 35% );
	&.icon--active{
		fill: @black;
	}	
}

.icon--notification{
	width: 22.4px;
	height: 24px;
	color: transparent;
	fill: @black;
	&.icon--active{
		fill: transparent;
		color: @black;
	}
}

.icon--booking{
	width: 24px;
	height: 24px;
	color: transparent;
	fill: @black;
	&.icon--active{
		fill: transparent;
		color: @black;
	}	
}

.icon--backcall{
	width: 24px;
	height: 23.95px;
	color: transparent;
	fill: @black;
	&.icon--active{
		fill: transparent;
		color: @black;
	}	
}

.icon--reviews{
	width: 24px;
	height: 24px;
	color: transparent;
	fill: @black;
	&.icon--active{
		fill: transparent;
		color: @black;
	}	
}

.icon--chevron-left,
.icon--chevron-right{
	width: 12.5px;
	height: 21px;
	color: fade( @black, 35% );
	&.icon--active{
		color: @black;
	}
}

.icon--plus{
	width: 17.5px;
	height: 17.5px;
}

.icon--send{
	width: 23.98px;
	height: 24px;
}

.icon--photo{
	width: 24px;
	height: 21px;
}

.icon--star{
	width: 18px;
	height: 18px;
	fill: fade( @gray_101, 35% );
	&.icon--active{
		fill: @black;
	}
}

.icon--user{
	width: 11px;
	height: 16px;
}

.icon--phone{
	width: 16px;
	height: 15.96px;
}

.icon--lock{
	width: 10px;
	height: 16px;
}

.icon--check{
	width: 24px;
	height: 24px;
	color: transparent;
	fill: fade( @gray_101, 75% );
	&.icon--active{
		fill: transparent;
		color: @black;
	}	
}

.icon--clock{
	width: 12px;
	height: 12px;
}

.icon--menu-close{
	width: 24px;
	height: 18px;
}

.icon--close{
	width: 24px;
	height: 24px;
}

