.page__footer{
	position: relative;
	z-index: 4;
	width: 100%;
	box-shadow: 0 -1px 0 fade( @black, 15% );
	.bar{
		min-height: 48px;
	}
	&>.page__wrapper{
		&>.btn{
			margin-top: 8px;	
			margin-bottom: 8px;	
		}
	}
}